body {
    font-family: 'Arial, sans-serif';
    background-color: #ffe6f0;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #ffccff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    color: #990099;
}

header p {
    font-size: 1.2em;
    color: #660066;
}

main {
    flex: 1;
    padding: 20px;
}

.notebooks h2 {
    color: #990099;
}

.notebooks ul {
    list-style-type: none;
    padding: 0;
}

.notebooks li {
    background: #ffccff;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    transition: background 0.3s;
}

.notebooks li:hover {
    background: #ff99ff;
}

.notebooks a {
    text-decoration: none;
    color: #660066;
    font-weight: bold;
}

footer {
    background-color: #ffccff;
    text-align: center;
    padding: 10px;
}

footer p {
    margin: 0;
    color: #660066;
}
